<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="diary">

	<delete id="deleteDiary">
		delete diary where dno=#{dno}
	</delete>
	
	<delete id="deleteWrite">
		delete write where dno=#{dno}
	</delete>

	<update id="updateDiary">
		update diary set dtitle=#{dtitle}, ddate=#{ddate}, dweather=#{dweather}, dfont=#{dfont}, dtype=#{dtype},  dfile=#{dfile}, dcontent=#{dcontent}, dphoto=#{dphoto}
		 where dno=#{dno} 
	</update>

	<select id="detailDiary" resultType="diaryvo">
		select * from diary where dno = #{dno}
	</select>

	<insert id="insertDiary">
		insert into diary values(#{dno},#{dtitle}, sysdate, #{dtype}, #{dfile}, #{dweather}, #{dphoto}, #{dfont}, #{dwritedate}, #{dcontent}, #{serect}, #{bno})
	</insert>
	
	<insert id="insertWrite">
		insert into write values(seq_write.nextval, #{bno}, #{dno}, #{mno}, sysdate, #{secret})
	</insert>
	
	<select id="diaryNextNo" resultType="java.lang.Integer">
  		select nvl(max(dno),0)+1 from diary
  	</select>
	
	<select id="selectAll" resultType="diaryvo">
		SELECT dno, dtitle, ddate, dfile, dweather, dphoto, dfont, dwritedate, dcontent, b.bno
		FROM diary d, book b
		WHERE d.bno = b.bno and b.bno=#{bno}
		ORDER BY ddate		
	</select>
</mapper>