

a {
	background: orange;
	margin: 0px 10px 0px 10px;
}

a:link {
    color: black; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: teal;
    background-color: transparent;
    text-decoration: none;
}

.main {
	font-size: 50px;
	
}
.upper {
	float: right;
	overflow: hidden;
	margin-right: 40px;
}

hr {
	color: 
}
.main_menu {
	margin: 0px 20px 0px 30px;
	font-size: 30px;
}

.menus {
}

li{
	list-style: none;
}


 
.container {
    width: 960px;
    margin: 0 auto;
}

.container .landing {
    width: 70%;
    height: 600px;
    margin: auto;
    background-color: orange;
    /*
    background-image: url(https://i.ytimg.com/vi/dtxcy6g3zeY/maxresdefault.jpg);
    */
    background-size: cover;
    background-position: center center;
}
